<p>search-footwear.html</p>

<form class="search-container">
	Style:
		<select ng-model="searchF.footwearStyleChosen" ng-options="style.name for style in searchF.footwearStyleChoices">
		</select> </br>
	Gender:
		<select ng-model="searchF.footwearGenderChosen" ng-options="gender for gender in searchF.footwearGenderChoices">
		</select>  </br>
	Color:
		<select ng-model="searchF.footwearColorChosen" ng-options="color.name for color in searchF.footwearColorChoices">
		</select>  </br>
	Brands (up to 3):  </br>
		<input type="text" placeholder="Enter brand" ng-model="searchF.brandChoiceOne">  </br>
		<input type="text" placeholder="Enter brand" ng-model="searchF.brandChoiceTwo">	 </br>
		<input type="text" placeholder="Enter brand" ng-model="searchF.brandChoiceThree">  </br>
		<button type="submit" ng-click="searchF.searchProducts()">Search</button>
</form>

<div class="search-container">
	<div class="horizontal-float" ng-repeat="product in searchF.products">
		<div>
			<h5>{{product.brand.name}} | {{product.name}} | Sale: {{product.salePriceLabel}} | Price: {{product.priceLabel}}</h5>
			</br><img src="{{product.image.sizes.IPhone.url}}">

		<div class="color-swatch-parent">
				<div ng-repeat="color in product.colors"> 
					<img src="{{color.swatchUrl}}" class="color-swatches">
				</div>
			</br>
		<div>
			<p><span class="description-text">{{product.description}}</span></p>
			<a href="{{product.clickUrl}}">Buy at {{product.retailer.name}}</a>
				</br> 
						<hr>
			</div>
	</div>	
</div>
</div>
</div>