<div><img src="../images/shoe.png" ng-click="searchActive = !searchActive" ng-class="{ active: searchActive }" class="icon-size"></div>
	<form class="form-div" ng-show="searchActive">
		Style:
			<select ng-model="footwearStyleChosen" ng-options="style.name for style in footwearStyleChoices">
			</select></br>
		Gender:
			<select ng-model="footwearGenderChosen" ng-options="gender for gender in footwearGenderChoices">
			</select> </br>
		Color:
			<select ng-model="footwearColorChosen" ng-options="color.name for color in footwearColorChoices">
			</select> </br>
		Brands (up to 3):  
			<input type="text" placeholder="Enter brand" ng-model="brandChoiceOne">  
			<input type="text" placeholder="Enter brand" ng-model="brandChoiceTwo">	 
			<input type="text" placeholder="Enter brand" ng-model="brandChoiceThree">  
			<button type="submit" ng-click="searchProducts()" ng-class="{ active: searchActive }">Search</button>
	</form>

<div class="contains-search-result">
		<display-search-results></display-search-results>
</div>

