
<div><img src="../images/shirt.png" ng-click="searchActive = !searchActive" ng-class="{ active: searchActive }" class="icon-size-shirt"></div>
<form class="form-div" ng-show="searchActive">
		Style:
			<select ng-model="topStyleChosen" ng-options="style.name for style in topStyleChoices">
			</select>
		Gender:
			<select ng-model="topGenderChosen" ng-options="gender for gender in topGenderChoices">
			</select> 
		Color:
			<select ng-model="topColorChosen" ng-options="color.name for color in topColorChoices">
			</select> 
		</br>
		Brands (up to 3):  
			<input type="text" placeholder="Enter brand" ng-model="brandChoiceOne">  
			<input type="text" placeholder="Enter brand" ng-model="brandChoiceTwo">	 
			<input type="text" placeholder="Enter brand" ng-model="brandChoiceThree">  
			<button type="submit" ng-click="searchProducts()" ng-class="{ active: searchActive }">Search</button>
	</form>

	<div class="contains-search-result">
		<display-search-results></display-search-results>
	</div>

